<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>collection</title>
    <link rel="stylesheet" href="collection.css">
</head>
<body>
    <section class="containar1">
        <div class="navbar1">
            <div class="logo">
                <img src="./main_img/logo_imag.gif" alt="logo">
            </div>
            <div class="search">
                <input type="text" placeholder="Search for Gold Jewellery,Dimand Jewellery and More.....">
                <img id="search_icon" src="/public/main_img/search_img.webp" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">sign up</a></li>
                    <button><img src="/public/main_img/cart.png" alt="cart"></button>
                </ul>
            </div>
        </div>
        <div class="navbar2">
            <ul>
                <li> <a href="./">All Jewellery</a></li>
                <li><a href="gold">Gold</a></li>
                <li><a href="daimand">Dimand</a></li>
                <li><a href="errings">Earring</a></li>
                <li><a href="rings">Ring</a></li>
                <li><a href="collection">Collection</a></li>
                <li><a href="wedding">Wedding</a></li>
                <li><a href="gifting">Gifting</a></li>
            </ul>
        </div>
    </section>
    {{!-- first start --}}
    <section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/collection_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/diman_img/imag1.jpg" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/diman_img/imag2.jpg" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/diman_img/imag3.jpg" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/diman_img/imag4.jpg" alt="">
                
            </div>
        </div>

    </section>

    {{!-- first End --}}
    

    {{!-- second start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/second_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/second1.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/second2.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/second3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/second4.webp" alt="">
                
            </div>
        </div>

    </section>
    {{!-- second end --}}

     {{!-- third start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/thirs_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/third1.webp" alt="">
                
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/collection_img/third2.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/third3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/third4.webp" alt="">
                
            </div>
        </div>

    </section>
    {{!-- third end --}}

     {{!-- four start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/four_mai.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/four1.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/four2.webp" alt="">
               
            </div>
            <div class="card1">
                <img src="/public/collection_img/four3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/four4.webp" alt="">
                
            </div>
        </div>

    </section>
    {{!-- four end --}}

     {{!-- five start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/five_main.jpg" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/five1.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/five2.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/five3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/five4.webp" alt="">
                
            </div>
        </div>

    </section>
    {{!-- five end --}}

     {{!-- six start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/six_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/six1.webp" alt="">
               
            </div>
            <div class="card1">
                <img src="/public/collection_img/six2.jpg" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/six3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/six4.webp" alt="">
                
            </div>
        </div>

    </section>
    {{!-- six end --}}

     {{!-- seven start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/seven_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/seven1.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/seven2.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/seven3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/seven4.webp" alt="">
                
            </div>
        </div>

    </section>
    {{!-- seven end --}}
     {{!-- eight start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/eight_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/eight1.webp" alt="">
               
            </div>
            <div class="card1">
                <img src="/public/collection_img/eight2.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/eight3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/eight4.webp" alt="">
               
            </div>
        </div>

    </section>
    {{!-- eight end --}}
     {{!-- nine start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/nine_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/nine1.webp" alt="">
               
            </div>
            <div class="card1">
                <img src="/public/collection_img/nine2.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/nine3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/nine4.webp" alt="">
                
            </div>
        </div>

    </section>
    {{!-- nine end --}}
     {{!-- ten start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/ten_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/ten1.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/ten2.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/ten3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/ten4.webp" alt="">
               
            </div>
        </div>

    </section>
    {{!-- ten end --}}
     {{!-- eleven start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/eleven_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/eleven1.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/eleven2.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/eleven3.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/eleven4.webp" alt="">
                
            </div>
        </div>

    </section>
    {{!-- eleven end --}}
     {{!-- twelve start --}}
<section>
        <div class="collection_main">
        <img id="collection_main" src="/public/collection_img/twelve_main.jpg" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/collection_img/twelve1.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/twelve2.webp" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/twelve3.jpg" alt="">
                
            </div>
            <div class="card1">
                <img src="/public/collection_img/twelve4.webp" alt="">
                
            </div>
        </div>

    </section>
    {{!-- twelve end --}}
    
    
    <section>
        <div class="footer">
            <div class="Useful_Links">
                <h2>Useful Links</h2><br>
            <ul>
                <li><a href="#">Delivery Information</a></li><br>
                <li><a href="#">International Shipping</a></li><br>
                <li><a href="#">Payment Options</a></li><br>
                <li><a href="#">Track your Order</a></li><br>
                <li><a href="#">Returns</a></li><br>
                <li><a href="#">Find a Store</a></li><br>
            </ul>
            </div>
            <div class="Introduction">
                <h2>Information</h2><br>
                <ul>
                    <li><a href="#">Careers</a></li><br>
                    <li><a href="#">Blog</a></li><br>
                    <li><a href="#">Offers & Contest Details</a></li><br>
                    <li><a href="#">Help & FAQs</a></li><br>
                    <li><a href="#">About Tanishq</a></li><br>
                </ul>
            </div>
            <div class="contact">
                <h2>Contact Us</h2><br>
                <ul>
                    <li><a href="#">Write to Us</a></li><br>
                    <li><a href="#">6260755443</a></li><br>
                    <li><a href="#">Chat with Us</a></li><br>
                </ul>
            </div>
            <div class="scaner">
                <img src="./main_img/surajbali_mca_qr (1).png" alt="">
            </div>
        </div>
    </section>
</body>
</html>