<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gold</title>
    <link rel="stylesheet" href="gold.css">
</head>
<body>
    <section class="containar1">
        <div class="navbar1">
            <div class="logo">
                <img src="./main_img/logo_imag.gif" alt="logo">
            </div>
            <div class="search">
                <input type="text" placeholder="Search for Gold Jewellery,Dimand Jewellery and More.....">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">sign up</a></li>
                    <li><a href="#">card</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar2">
            <ul>
                <li> <a href="./">All Jewellery</a></li>
                <li><a href="gold">Gold</a></li>
                <li><a href="daimand">Dimand</a></li>
                <li><a href="errings">Earring</a></li>
                <li><a href="rings">Ring</a></li>
                <li><a href="collection">Collection</a></li>
                <li><a href="wedding">Wedding</a></li>
                <li><a href="gifting">Gifting</a></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="daimand_main">
        <img id="daimand_main" src="/public/diman_img/dimand_main.webp" alt="">
        </div>
    </section>
    <section>
        <div class="main">
            <div class="card1">
                <img src="/public/gold_img/imag1.jpeg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag2.jpg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag3.jpeg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag4.webp" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag5.jpg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag6.png" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag7.jpg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag8.avif" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag9.jpeg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag10.webp" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag11.jpeg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag12.jpg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag13.jpeg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag14.webp" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag15.jpeg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/gold_img/imag16.jpeg" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/collection_img/img4.webp" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/collection_img/img5.webp" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/collection_img/img6.webp" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                <h2> ₹3500</h2>
                <button>BUY NOW</button>
            </div>
            <div class="card1">
                <img src="/public/collection_img/img7.webp" alt="">
                <h3>Intertwining Leaves Rose Gold</h3>
                    <h2> ₹3500</h2>
                    <button>BUY NOW</button>
                
                
            </div>
        </div>

    </section>
    <section>
        <div class="footer">
            <div class="Useful_Links">
                <h2>Useful Links</h2><br>
            <ul>
                <li><a href="#">Delivery Information</a></li><br>
                <li><a href="#">International Shipping</a></li><br>
                <li><a href="#">Payment Options</a></li><br>
                <li><a href="#">Track your Order</a></li><br>
                <li><a href="#">Returns</a></li><br>
                <li><a href="#">Find a Store</a></li><br>
            </ul>
            </div>
            <div class="Introduction">
                <h2>Information</h2><br>
                <ul>
                    <li><a href="#">Careers</a></li><br>
                    <li><a href="#">Blog</a></li><br>
                    <li><a href="#">Offers & Contest Details</a></li><br>
                    <li><a href="#">Help & FAQs</a></li><br>
                    <li><a href="#">About Tanishq</a></li><br>
                </ul>
            </div>
            <div class="contact">
                <h2>Contact Us</h2><br>
                <ul>
                    <li><a href="#">Write to Us</a></li><br>
                    <li><a href="#">6260755443</a></li><br>
                    <li><a href="#">Chat with Us</a></li><br>
                </ul>
            </div>
            <div class="scaner">
                <img src="./main_img/surajbali_mca_qr (1).png" alt="">
            </div>
        </div>
    </section>
</body>
</html>